/* The following selectors are based on the specifications */

body {
    background-color: #ffffff;
}

#content-area {
    width: 960px;
    height: 600px;
    padding-left: 10%;
    margin-top: 2em;
    margin-right: auto;
    background-position: center center;
    background-repeat: repeat;
    background: url("../../assets/images/squared_metal.png");
}

#sidebar-section {
    width: 270px;
    float: right;
    background-color: #ffffff;
}

#main-section {
    width: 650px;
    background-color: #ffffff;
    border-color: #dddddd;
    padding-left: 10px;
    float: left;
}

h1, h2, h3, h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}
  
p, span, #about-text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#page-name {
    background-color: #4aaaa5;
    border-color: #cccccc;
    float: left;
    color: #ffffff;
    height: 2em;
    width: 10em;
    text-align: center;
    padding-top: 16px;
    margin-top: 0;
    margin-bottom: -10px;
    margin-left: 11.8%;
 } 
 
 footer {
    background-color: #666666;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* End of spec-based selectors */
   
.footer-text {
    text-align: center;
    margin-top: 3%;
}

#top-div {
    width: 960px;
    height: 6em;
    margin-top: 0;
    margin-bottom: -40px;
}

nav {
    width: 99%;
    height: 99%;
    padding-bottom: 0;
    margin-bottom: 0;
}

#menu-links {
    float: right;
    padding-top: 1.3em;
}

.menu-link-text {
    padding-left: 1em;
}

#profile-photo {
    float: left;
}

#about-text {
    line-height: 200%;
    font-size: 90%;
}

.textwrap-left {
   float: left;
   margin: 10px;
}

.social-elem {
    padding-left: 10%;
    padding-right: 11%;
}

#social-buttons {
    margin-left:  auto;
    margin-right: auto;
    width: 270px;
}

.social-button {
    height: 48px;
    width:  48px;
}

.portfolio-button {
    height: 20%;
    width:  35%
}

.contact-label {
  margin-left: 5%;
  margin-bottom: -14px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#name, #email, #message {
    width: 44em;
    margin-left: 5%;
    padding-top: 0;
}

#name, #email {
    height: 1.5em;
}

#message {
    margin-top: 1.2em;
    height: 14em;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 86px;
    height: 32px;
    margin-left: 5%;
}

a:hover {
    background-color: #f5fcab;
}

a:focus {
    background-color: #c1f977;
}

.social-button:hover {
    background-color: #fce89f;
}

.social-button:focus {
    background-color: #bdfafc;
}

portfolio-links {
    height: 876px;
    width: 650px;
}

portfolio-button {
    margin-top: 5%;
}

.left-item {
    float: left;
    margin-left: 2%;
}

.right-item {
    float: right;
    margin-right: 14%;
}

.portfolio-image {
    width: 300px;
    height:230px;
}

.portfolio-label {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 140px;          /* 300 */
    height: 20px;          /*  60 */
    margin-top: 220px;
    z-index: 2;
    position:  absolute;
    text-align: center;
}

.strikeout {
    text-decoration: line-through;
}

#pflabel1 {
    left: 220px;   /* 169 */
    top: 128px; 
}

#pflabel2 {
    left: 538px;   /* 487 */
    top: 128px;
}

#pflabel3 {
    left: 220px;
    top: 364px;
}

#pflabel4 {
    left: 538px;
    top: 364px; 
}

#pflabel5 {
    left: 220px;
    top: 600px;
}

#pflabel6 {
    left: 538px;
    top: 600px;
}

.clear {
    clear: both;
}

