h1, h2, h3, h4 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
}

p, span {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

#content-area {
  width: 960px
}

#sidebar-area {
  width: 270px;
}

#main-area {
  width: 650px;
  background-color: #ffffff;
  border-color: #dddddd;
}

body {
}

header {
 }

nav {
}

footer {
  background-color: #666666;
}

section {
}

aside {
}

article {
}

.clear {
  clear: both;
}

/*
Teal #4aaaa5 used for headings and backgrounds
Regular font color #777777 (used for paragraphs and all text besides headings)
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
*/